<div class="table-container">
  <button (click)="addStudent()" class="btn btn-primary">Agregar alumno</button>

  <table mat-table [dataSource]="students">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef appHeaderFont>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef appHeaderFont>NOMBRE</th>
      <td mat-cell *matCellDef="let element">{{ element | nombreCompleto }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef appHeaderFont>APELLIDO</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef appHeaderFont>ESTÁ ACTIVO</th>
      <td mat-cell *matCellDef="let element">{{ element.isActive }}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef appHeaderFont>EDITAR</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editStudent(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef appHeaderFont>ELIMINAR</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="removeStudent(element)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
